<li class="list-group-item p-3 custom-feed-item">
  <img
    id="profile-picture"
    class="rounded-circle border m-2"
    src="/images/placeholder-profilepic.jpeg"
  />
  <h3> {{fruitName}} </h3>
  <p> {{locationName}} </p>
  <p> {{city}}, {{state}}</p>
  <h6> 11:59 am </h6>
</li>