<li class="list-group-item p-2 custom-feed-item">
  <img
    id="profile-picture"
    class="rounded-circle border m-2"
    src="/images/placeholder-profilepic.jpeg"
  />
  <h3 id="feed-fruit"> {{fruitName}} </h3>
  <p id="feed-location"> {{locationName}} in {{city}}, {{state}}</p>
  <h6 id="feed-time"> hh:mm </h6>
</li>