<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="svg" href="/images/mango-favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title> FruitFinder </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg position-fixed custom-nav">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/">
          <span id="custom-header-fruits"> Fruit</span><span
            id="custom-header-roots"
          >Finder </span>
        </a>

        <ul class="navbar-nav d-flex flex-sm-row">
          <li id="custom-nav-option" class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          {{#if loggedIn}}
            <li id="custom-nav-option" class="nav-item mx-2">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
          {{else}}
            <li id="custom-nav-option" class="nav-item mx-2">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {{/if}}
        </ul>

      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
<<<<<<<<< Temporary merge branch 1
=========
    <footer class="fixed-bottom" id="">The Best Fruit Tracking App</footer>
>>>>>>>>> Temporary merge branch 2
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>