<div class="container-fluid d-flex flex-lg-row flex-md-column flex-sm-column custom-app-container">
  <div class="row col-md-12 d-flex justify-content-center" id="main-section">
    <div id="feed-container" class="col-lg-8 col-sm-12 p-2 m-2">
      <h1 id="feed-header"> FRUIT FEED </h1>
      {{#if loggedIn}}
        {{! add modal for adding sightings }}
      {{/if}}


      <ul class="list-group list-group-flush custom-feed-box m-3">
        {{#each sightings as |sighting|}}
        {{>feed-details}}
        {{/each}}
      </ul>
    </div>
  
    <div class="col-lg-3 col-md-11 p-2 m-2" id="side-section">
      <div class="card custom-fruit-card">
        <div class="card-body custom-fruit-body">
          <h5 class="card-title mb-3"> {{fruitOfTheDay.name}} </h5>
          <h6 class="card-subtitle mb-2">
          Calories per serving: {{fruitOfTheDay.calories}}</h6>
          <h6 class="card-subtitle mb-2">
          Sugar per serving: {{fruitOfTheDay.sugar}}</h6>
          <a href="#" class="btn">RECENT SIGHTING</a>
        </div>
      </div>
    </div>
  </div>
</div>