<div
  class="container-fluid position-relative d-flex justify-content-around custom-app-container"
>
  <div id="sign-in-form" class="form col-4">
    <h1> Login </h1>
    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Email Address: </span>
      <input
        id="user-email"
        type="text"
        class="form-control custom-input"
        placeholder="Enter your email"
        aria-label="example@email.com"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Password </span>
      <input
        id="user-password"
        type="password"
        class="form-control custom-input"
        placeholder="Enter your password"
        aria-label="password"
      />
    </div>

    <button id="sign-in-btn" class="rounded"> Login </button>
  </div>

  <div id="sign-up-form" class="form col-4">
    <h1> Sign Up </h1>
    <div class="input-group">
<<<<<<<<< Temporary merge branch 1
      <span class="input-group-text">First name </span>
=========
      <span class="input-group-text" id="form-label"> Username </span>
>>>>>>>>> Temporary merge branch 2
      <input
        id="register-first-name"
        type="text"
<<<<<<<<< Temporary merge branch 1
        aria-label="First name"
        class="form-control"
      />
      <span class="input-group-text">Last name </span>
      <input
        id="register-last-name"
        type="text"
        aria-label="Username"
        class="form-control"
        placeholder="Username"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Email Address: </span>
      <input
        id="register-email"
        type="text"
<<<<<<<<< Temporary merge branch 1
        class="form-control"
        placeholder="Username"
=========
        class="form-control custom-input"
        placeholder="example@email.com"
        aria-label="example@email.com"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Password </span>
      <input
        id="register-password"
        type="password"
        class="form-control custom-input"
        placeholder="Password must be at least 6 characters long"
        aria-label="password"
      />
    </div>


    <button id="register-btn" class="rounded"> Register Now </button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
<script src="/js/login.js"></script>