<div
  class="container-fluid position-relative d-flex justify-content-between custom-app-container"
>
  <div id="sign-in-form" class="form col-5">
    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Email Address: </span>
      <input
        id="user-email"
        type="text"
        class="form-control"
        placeholder="Enter your email"
        aria-label="example@email.com"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Password </span>
      <input
        id="user-password"
        type="password"
        class="form-control"
        placeholder="Enter your password"
        aria-label="password"
      />
    </div>

    <button id="sign-in-btn">Sign In</button>
    <button id="sign-up-btn">Sign Up</button>
  </div>

  <div id="sign-up-form" class="form col-5">
    <div class="input-group">
      <span class="input-group-text">First name </span>
      <input
        id="register-first-name"
        type="text"
        aria-label="First name"
        class="form-control"
      />
      <span class="input-group-text">Last name </span>
      <input
        id="register-last-name"
        type="text"
        aria-label="Last name"
        class="form-control"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Email Address: </span>
      <input
        id="register-email"
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="example@email.com"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Password </span>
      <input
        id="register-password"
        type="password"
        class="form-control"
        placeholder="Password must be at least 6 characters long"
        aria-label="password"
      />
    </div>

    <p>Confirm your password</p>
    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Password </span>
      <input
        id="register-password-confirm"
        type="password"
        class="form-control"
        placeholder="Password must be at least 6 characters long"
        aria-label="password-confirm"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Location </span>
      <input
        id="register-location"
        type="text"
        class="form-control"
        placeholder="Enter your location"
        aria-label="location"
      />
    </div>

    <div class="input-group my-3">
      <span class="input-group-text" id="form-label"> Favorite Fruit </span>
      <input
        id="register-fav-fruit"
        type="text"
        class="form-control"
        placeholder="What is your favorite fruit"
        aria-label="favorite"
      />
    </div>

    <button id="register-btn">Register Now</button>
  </div>
</div>

<script src="../public/js/login.js"></script>