
<div class="container-fluid position-relative custom-app-container" >
  <img id="profile-picture" class="rounded-circle border m-2" src="../public/images/placeholder-profilepic.jpeg"/>
</div>


  <div class="container-fluid position-relative custom-app-container"></div>
  <div class="row d-flex justify-content-center"> 
    <div class="col-md-8 col-sm-11 p-2 m-2" id="main-section">
<<<<<<< HEAD
        <h1> Favorite Fruits {{fruit_id}}</h1>
=======
        <h1> Favorite Fruits</h1>
>>>>>>> 31ccc0de20de83a5fc6fcef898e1241793c299ee
        <ul class="list-group list-group-flush custom-feed-box m-3">
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Raspberry </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
             
              <h3> Apple </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              
              <h3> Orange </h3>
              <p> Family, Order, Genus </p>            </li>
<<<<<<< HEAD
=======
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Grape Fruit </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Pinapple </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Kiwi </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Pallisade Peaches </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Blueberries</h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Star Fruit </h3>
              <p> Family, Order, Genus </p>            </li>
            <li class="list-group-item p-3 custom-feed-item">
              <h3> Watermelon </h3>
              <p> Family, Order, Genus </p> 
            </li>
>>>>>>> 31ccc0de20de83a5fc6fcef898e1241793c299ee
          </ul>

        </div>
        <div class="col-md-3 col-sm-11 p-2 m-2" id="side-section">
          <div class="card custom-fruit-card">
            <div class="card-body custom-fruit-body">
              <h5 class="card-title mb-3"> Recent Sightings </h5>
<<<<<<< HEAD
              <h6 class="card-subtitle mb-2"> Fruit  </h6>
=======
              <h6 class="card-subtitle mb-2"> Fruit </h6>
>>>>>>> 31ccc0de20de83a5fc6fcef898e1241793c299ee
              <h6 class="card-subtitle mb-2"> City, State, Country </h6>
              <p class="card-text">Note entered by user about the sighting?</p>
              <a href="#" class="btn">NEW RECENT SIGHTING</a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <footer class=" fixed-bottom" id="">Fruit Tracker</footer>
