<div class="container-fluid position-relative custom-app-container">
  <div class="row d-flex justify-content-center">
    <div class="col-11 p-2 m-2" id="main-section">
    <div class="d-flex">   
      <img
      id="profile-picture"
      class="rounded-circle border m-3"
      src="/images/placeholder-profilepic.jpeg"
        />
        <h1 class="m-3"> {{profile.username}}</h1>
        {{#if loggedIn}}
        <button id="logout-btn" class="rounded m-3">Logout</button>
      {{/if}}
        </div>
      <div id="feed-container" class="col-lg-8 col-sm-12 p-2 m-2">
      <h1 id="profile-feed-header"> MY FRUIT </h1>

      <ul class="list-group list-group-flush custom-feed-box m-3">

      </ul>
<<<<<<< HEAD

        </div>
        <div class="col-md-3 col-sm-11 p-2 m-2" id="side-section">
          <div class="card custom-fruit-card">
            <div class="card-body custom-fruit-body">
              <h5 class="card-title mb-3"> Recent Sightings </h5>
<<<<<<< HEAD
              <h6 class="card-subtitle mb-2"> Fruit  </h6>
=======
              <h6 class="card-subtitle mb-2"> Fruit </h6>
>>>>>>> 31ccc0de20de83a5fc6fcef898e1241793c299ee
              <h6 class="card-subtitle mb-2"> City, State, Country </h6>
              <p class="card-text">Note entered by user about the sighting?</p>
              <a href="#" class="btn">NEW RECENT SIGHTING</a>
            </div>
          </div>
        </div>
=======
>>>>>>> f9a85ceecb7aaba65470b31cc17e293a820199ff
      </div>
    </div>

      <footer class=" fixed-bottom" id="">Fruit Tracker</footer>
