
<div class="container-fluid position-relative custom-app-container" >
  <img id="profile-picture" class="rounded-circle border m-2" src="../public/images/placeholder-profilepic.jpeg"/>
</div>

<div class="container-fluid position-relative custom-app-container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-sm-11 p-2 m-2" id="main-section">
      <h1> {{profile.username}}'s Favorite Fruits</h1>
      <ul class="list-group list-group-flush custom-feed-box m-3">
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Raspberry </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">

          <h3> Apple </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">

          <h3> Orange </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Grape Fruit </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Pinapple </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Kiwi </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Pallisade Peaches </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Blueberries</h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Star Fruit </h3>
          <p> Family, Order, Genus </p>
        </li>
        <li class="list-group-item p-3 custom-feed-item">
          <h3> Watermelon </h3>
          <p> Family, Order, Genus </p>
        </li>
      </ul>

    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
<script src="/js/logout.js"></script>