<div class="container-fluid position-relative custom-app-container">
  <div class="row d-flex justify-content-center">
    <div class="col-11 p-2 m-2" id="main-section">
      <div class="d-flex">
        <img
          id="profile-picture"
          class="rounded-circle border m-3"
          src="/images/placeholder-profilepic.jpeg"
        />
        <h1 class="m-3"> {{profile.username}}</h1>
        <button id="logout-button" class="rounded m-3">Logout</button>
      </div>
      <div id="feed-container" class="col-lg-8 col-sm-12 p-2 m-2">
        <h1 id="profile-feed-header"> MY FRUIT </h1>
        {{! Users fruit sightings listed here }}
        <ul class="list-group list-group-flush custom-feed-box m-3">

        </ul>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
<script src="/js/logout.js"></script>