:root {
  --dark: #0c1f04;
  --light: #76b041;
  --yellow: #fcf793;
  --orange: #e18243;
  --red: #e44848;
  --caprasimo: "Caprasimo", cursive;
  --poppins: "Poppins", san-serif;
}

body {
  background-color: var(--yellow);
}

h1 {
  font-family: var(--caprasimo);
  color: var(--red);
}

h2{
  font-family: var(--poppins);
  color: var(--orange);
  font-weight: 600;
}

footer {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--caprasimo);
  text-align: center;
}

/* custom nav styles */
.custom-nav {
  background-color: var(--dark);
  font-family: var(--caprasimo);
  width: 100vw;
  z-index: 3;
}

#custom-header-fruits {
  font-size: 250%;
  color: var(--red);
}
#custom-header-roots {
  font-size: 250%;
  color: var(--orange);
}

#custom-nav-option {
  font-family: var(--poppins);
  color: #fcf793;
}

a.nav-link {
  font-size: 150%;
  color: white;
}

a.nav-link:hover {
  color: var(--light);
}

/* custom body & feed style */
.custom-app-container {
  min-width: 100vw;
  padding-top: 110px;
}

.custom-feed-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--poppins);
  background-color: var(--yellow);
  border: solid 1px #e18243;
}

#feed-header {
  position: sticky;
  top: 100px;
  width: 100%;
  padding: 10px;
  padding-left: 10%;
  background-color: var(--yellow);
  z-index: 1;
}

#feed-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
}

#feed-fruit {
  font-size: 150%;
  color: var(--dark);
  position: absolute;
  left: 15%;
  max-width: 30%;
}

#feed-location {
  color: var(--light);
  position: absolute;
  left: 45%;
  max-width: 55%;
}

#feed-time {
  position: absolute;
  left: 90%;
}

/* custom sidebar card styles */
.custom-fruit-card {
  background-color: white;
  position: sticky;
  top: 140px;
  z-index: 2;
}

.custom-fruit-card h5 {
  font-size: 225%;
  font-family: var(--caprasimo);
  color: var(--orange);
}

.custom-fruit-card h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 600;
  color: black;
  border-bottom: 10px solid black;
}

.custom-fruit-card p{
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid black;
}

#small-label{
  font-size: smaller;
  border: none;
}


#form-label {
  color: white;
  background-color: var(--dark);
}

button {
  background-color: var(--light);
  color: var(--dark);
  border: solid 1px var(--dark);
}

button:hover {
  background-color: var(--orange);
  transform: scale(1.1);
}

.add-sighting-btn {
  z-index: 2;
  border: none;
}

.add-sighting-btn:hover {
  background-color: var(--red);
}

.submit-btn {
  width: auto;
  max-width: 200px;
}

#profile-head{
  background-color: var(--yellow);
  position: sticky;
  top: 120px;
  z-index: 1;
}

#profile-feed-header{
  background-color: var(--yellow);
  position: sticky;
  top: 200px;
  z-index: 1;
}

#logout-button {
  background-color: var(--yellow);
  border: none;
  color: var(--dark);
}

#logout-button:hover {
  background-color: var(--red);
}

.custom-input:focus {
  background-color: #73f93a87;
  border: 1px solid var(--dark);
  box-shadow: 0 0 0 0;
}

img#profile-picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

div#prop {
  height: 50px;
}

@media screen and (max-width: 576px) {
  .custom-app-container {
    padding-top: 140px;
  }

  #custom-header-fruits {
    font-size: 200%;
    color: var(--red);
  }
  #custom-header-roots {
    font-size: 200%;
    color: var(--orange);
  }

  .custom-feed-item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  #feed-header {
    top: 120px;
  }

  #feed-fruit {
    font-size: 135%;
    position: absolute;
    left: 30%;
    top: 20%;
  }

  #feed-location {
    font-size: 90%;
    color: var(--light);
    position: relative;
    left: 0;
    max-width: 100%;
  }

  #feed-time {
    font-size: 90%;
    position: absolute;
    left: 80%;
    top: 20%;
  }

  img#profile-picture {
    position: relative;
    left: 0;
  }
}
